@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Urbanist', sans-serif;
}

.text-7d7d7d{
  color: #7d7d7d;
}

.container{
    max-width: 1050px;
}

.header .header-text1 a{
    text-decoration: none;
    font-size: 20px;
    color: #1a69c1;
    font-weight: bold;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

.header .text2{
  line-height: normal;
  text-align: end;
  color: #747474;
  font-weight: 400;
}
/* header navbar style  */

.topnav {
    overflow: hidden;
    display: flex;
}
  
  .topnav a {
    flex: 1;
    display: block;
    color: #fff !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .pages .active {
    background-color: #e8a22a !important;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 18px;    
    border: none;
    outline: none;
    color: white !important;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    font-weight: 600;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #e8a22a;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.navbar-bg{
    background-color: #2fc3f3;
}

/* index page style  */

.section1 .img1{
    background-image: url("../images/img1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 50vh;
}

.section1 .heading{
    color: #fff;
    font-size: 28px;
    padding-top: 100px;
    font-weight: bold;
    line-height: normal;
}

.footer-section {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #4b4b4b;
  }
  
  .ul-style {
    padding-left: 20px;
    color: #c1c1c1;
  }
  
  .footer-title {
    font-size: 20px;
    position: relative;
    padding-bottom: 17px;
    margin: 0;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 600;
    width: 90%;
    border-bottom: 1px solid #787878;
  }
  
  .footer-title:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    max-width: 28px;
    background-color: #d07a31;
    bottom: -1px;
    left: 0;
  }
  
  .ul-style a {
    text-decoration: none;
    color: #c1c1c1;

  }

.main-content{
    background-color: #eee;
    padding-bottom: 50px;
}

.section2-border{
    border-bottom: 1px solid #b3b3b3;
    padding-top: 20px;
    padding-bottom: 8px;
}

.section2{
    display: flex;
    justify-content: space-between;
}

.box{
    display: flex;
    gap: 10px;
    padding-bottom: 8px;
    align-items: baseline;
}

.box-maindiv{
    background: #fff;
    padding: 25px;
    position: relative;
    border: 1px solid #dedede;
    margin-bottom: 20px;
}

.box-fd8500{
    background: #fd8500;
    display: inline-block;
    padding: 1px 12px;
    border-radius: 2px;
    position: absolute;
    top: 4px;
    right: 0;
    color: #fff;
    font-weight: 400;
}

.section3{
  padding-top: 40px;
  padding-bottom: 20px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: 10px;
}

.pages {
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-weight: bold;
  font-size: 14px;
}
.page {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.page:hover {
  background-color: #e8a22a;
  color: #fff;
  border: none;
}

.topnav .active {
  background-color: #e8a22a;
  color: #fff;
}

.page,
.pagination .btn {
  background-color: #f8f8f8;
  border: 1px solid #c9c9c9;
  height: 30px;
  width: 35px;
  border-radius: 5px;
  cursor: pointer;
  color: #888888;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}
.btn:hover {
  background-color: #e8a22a;
}
.btn--icon {
  height: 24px;
  width: 24px;
  stroke: #888888;
}
.btn--icon:hover {
  stroke: #888888;
}

.right-div{
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
}

.right-section{
  border: 1px solid #d7d7d7;
}

.right-div .text1{
    color: #777777;
    font-size: 14px;
    font-weight: 600;
}

.right-div .text2{
  color: #9a9a9a;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding-top: 2px;
}

.right-head{
    border-bottom: 1px solid #ababab;
    padding-bottom: 10px;
    background-color: #f7f7f7;
}

.right-head-two{
    background: #fff;
    padding-top: 10px;
    border-bottom: 1px dotted #cfcfcf;
    padding-bottom: 10px;
}

.right-heading{
    padding-bottom: 23px;
    background: #fff !important;
}
.section2 .text1{
  color: #a75c19;
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
}

.section2 .text2{
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: #9fa2a1;
}

.box-maindiv .box .text1{
    color: #008cc9;
}

.box-maindiv .box .text-9ea0a2{
  color: #9ea0a2;
  line-height: normal;
}

.index-img3{
  padding-top: 20px;
}

.copy-right{
    background-color: #242327;
    padding: 15px;
}

.copy-right .text1{
    color: #c6c6c8;
}

/* policy page style  */

.policy-section1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #c5c5c5;
    padding-bottom: 8px;
    padding-top: 1px;
}

.policy-section1-div{
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 15px 42px;
  margin-bottom: 20px;
}

.policy-section1 .heading{
  color: #0063a1;
  font-weight: 400;
}

.policy-section1 .date{
  color: #9e9e9e;
  line-height: normal;
}

/* Sponsored style */

.sponsored-maindiv .sponsor-img img{
    border-right: 1px dotted #cecece;
    padding-right: 10px;
}

.sponsor-head{
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #d7d7d7;
  margin-bottom: 15px;
}

.sponsor-text1{
  color: #008bc8;
  font-weight: 600;
  font-size: 20px;
}

.sponsor-text2{
  color: #a1a1a1;
  padding-top: 5px;
}
/* header navbar media query */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

@media screen and (max-width: 767px) {
    .header-logo img{
      width: 100%;
    }

    .header{
      flex-direction: column;
      line-height: normal;
    }

    .header .text2{
      text-align: left;
    }

    .section1 .img1{
      background-size: 100% 100%;
      min-height: 30vh;
    }
}