@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Urbanist', sans-serif;
}

.text-7d7d7d{
  color: #7d7d7d;
}

.container{
    max-width: 1050px;
}

.header .header-text1 a{
    text-decoration: none;
    font-size: 20px;
    color: #1a69c1;
    font-weight: bold;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

.vector-mb-menu-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}
.vector-mb-menu {
  position: absolute;
  top: -1000px;
  left: -12px;
  background-color: #ff7e00;
  display: flex;
  flex-direction: column;
  transition: 0.5s all;
  gap: 3px;
  z-index: 10;
  width: calc(100% + 24px);
}
.header {
  position: relative;
  z-index: 100;
}
.header.active .vector-mb-menu {
  top: 168px;
}
.vector-mb-menu a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.header .text2{
  line-height: normal;
  text-align: end;
  color: #747474;
  font-weight: 400;
}
/* header navbar style  */

.topnav {
    /* overflow: hidden; */
    display: flex;
}
  
  .topnav a {
    flex: 1;
    display: block;
    color: #fff !important;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .pages .active {
    background-color: #e8a22a !important;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    /* overflow: hidden; */
  }
  
  .dropdown .dropbtn {
    font-size: 18px;    
    border: none;
    outline: none;
    color: white !important;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    font-weight: 600;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    /* min-width: 117px; */
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #e8a22a;
  }
  
  .dropdown-content a {
    float: none;
    color: #000 !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .active,
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #e8a22a;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #e8a22a;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.navbar-bg{
    background-color: #2fc3f3;
}

/* index page style  */

.section1 .img1{
    background-image: url("../images/img1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 50vh;
}

.section1 .heading{
    color: #fff;
    font-size: 28px;
    padding-top: 100px;
    font-weight: bold;
    line-height: normal;
}

.footer-section {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #4b4b4b;
  }
  
  .ul-style {
    padding-left: 20px;
    color: #c1c1c1;
  }
  
  .footer-title {
    font-size: 20px;
    position: relative;
    padding-bottom: 17px;
    margin: 0;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 600;
    width: 90%;
    border-bottom: 1px solid #787878;
  }
  
  .footer-title:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    max-width: 28px;
    background-color: #d07a31;
    bottom: -1px;
    left: 0;
  }
  
  .ul-style a {
    text-decoration: none;
    color: #c1c1c1;

  }

.main-content{
    background-color: #eee;
    padding-bottom: 50px;
}

.section2-border{
    border-bottom: 1px solid #b3b3b3;
    padding-top: 20px;
    padding-bottom: 8px;
}

.section2{
    display: flex;
    justify-content: space-between;
}

.box{
    display: flex;
    gap: 10px;
    padding-bottom: 8px;
    align-items: baseline;
}

.box-maindiv{
    background: #fff;
    padding: 25px;
    position: relative;
    border: 1px solid #dedede;
    margin-bottom: 20px;
}

.box-fd8500{
    background: #fd8500;
    display: inline-block;
    padding: 1px 12px;
    border-radius: 2px;
    position: absolute;
    top: 4px;
    right: 0;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.section3{
  padding-top: 40px;
  padding-bottom: 20px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: 10px;
}

.pages {
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-weight: bold;
  font-size: 14px;
}
.page {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.page:hover {
  background-color: #e8a22a;
  color: #fff;
  border: none;
}

.topnav .active {
  background-color: #e8a22a;
  color: #fff;
}

.page,
.pagination .btn {
  background-color: #f8f8f8;
  border: 1px solid #c9c9c9;
  height: 30px;
  width: 35px;
  border-radius: 5px;
  cursor: pointer;
  color: #888888;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}
.btn:hover {
  background-color: #e8a22a;
}
.btn--icon {
  height: 24px;
  width: 24px;
  stroke: #888888;
}
.btn--icon:hover {
  stroke: #888888;
}

.right-div{
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
}

.right-section{
  border: 1px solid #d7d7d7;
}

.right-div .text1{
    color: #777777;
    font-size: 14px;
    font-weight: 600;
}

.right-div .text2{
  color: #9a9a9a;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding-top: 2px;
}

.right-head{
    border-bottom: 1px solid #ababab;
    padding-bottom: 10px;
    background-color: #f7f7f7;
}

.right-head-two{
    background: #fff;
    padding-top: 10px;
    border-bottom: 1px dotted #cfcfcf;
    padding-bottom: 10px;
}

.right-heading{
    padding-bottom: 23px;
    background: #fff !important;
}
.section2 .text1{
  color: #a75c19;
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
}

.section2 .text2{
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: #9fa2a1;
}

.immigration-details-border,
.immigration-details-text2,
.box-maindiv .box .text1{
    color: #008cc9;
    font-weight: 400;
}

.box-maindiv .box .text-9ea0a2{
  color: #9ea0a2;
  line-height: normal;
}

.index-img3{
  padding-top: 20px;
}

.copy-right{
    background-color: #242327;
    padding: 15px;
}

.copy-right .text1{
    color: #c6c6c8;
}

/* policy page style  */

.policy-section1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #c5c5c5;
    padding-bottom: 8px;
    padding-top: 1px;
}

.policy-section1-div{
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 15px 42px;
  margin-bottom: 20px;
}

.policy-section1 .heading{
  color: #0063a1;
  font-weight: 400;
}

.policy-section1 .date{
  color: #9e9e9e;
  line-height: normal;
}

/* Sponsored style */

.sponsored-maindiv .sponsor-img img{
    border-right: 1px dotted #cecece;
    padding-right: 10px;
}

.sponsor-head{
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #d7d7d7;
  margin-bottom: 15px;
}

.sponsor-text1{
  color: #008bc8;
  font-weight: 600;
  font-size: 26px;
}

.sponsor-text2{
  color: #a1a1a1;
  padding-top: 5px;
}

/* case details style */

.case-details{
  border-bottom: 1px dotted #cfcfcf;
}

.case-details-border{
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 35px;
}

.case-details-text2{
  font-size: 14px;
  color: #9ea1a0;
  line-height: normal;
  padding-bottom: 10px;
}

.case-details-img{
  padding-top: 20px;
}

.immigration-details-heading,
.case-details-heading{
  color: #6c6c6c;
  font-weight: 400;
}

.immigration-details-border{
  position: relative;
  border-bottom: 1px solid #d7d7d7;
}

.immigration-details-border::before {
    background: #fff;
    content: "";
    height: 10px;
    left: 40px;
    position: absolute;
    top: 44px;
    transform: rotate(-45deg);
    width: 10px;
    z-index: 9;
    border-bottom: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
}

.immigration-ul{
  padding-left: 0px;
  list-style-type: none;
  margin-bottom: 0px
}

.immigration-ol{
  padding-left: 14px;
  margin-bottom: 0px
}

.model-form .form-control{
    height: 25px;
    border-radius: 0px;
    border-color: #bfbfbf;
}

.modal-body .time{
  width: 50px;
}

.flex-time{
  display: flex;
  gap: 10px;
  text-align: center;
}

.modal-footer{
    justify-content: center;
    padding: 0.75rem;
    border-top: 1px dotted #dee2e6;
}

.modal-footer .btn{
  background-color: #fd8500;
  color: #fff;
}

.motdel-group .btn{
  border: 1px solid #bfbfbf;
  height: 25px;
  font-size: 14px;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.motdel-group .btn.dropdown-toggle{
  background-color: #d8d8d8;
}

.modal-content{
  border-radius: 0px;
  border: 2px solid #0083d7;
}

.modal-header{
  background-color: #0083d7;
  border-radius: 0px;
  color: #fff;
  font-weight: 600;
}

.modal-body span{
  color: red;
}

.modal-body label{
  font-size: 14px;
  color: #454545;
  border-radius: 0px;
}

.model-form textarea{
  height: 100% !important;
}

/* head page  */

.main-content .text-6f6f6f{
  font-size: 20px;
  font-weight: 400;
}

.more-plus{
  background: #bdbdbd;
  display: inline-block;
  padding: 0px 6px;
  border-radius: 50%;
}

.more-plus-head span{
  text-decoration: none;
  color: #bdbdbd;
  font-weight: 600;
}

.head_page_heading{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.head_section1{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
}

.head_page_section2{
  max-width: 260px;
}

.head_section2_text1{
  color: #008bc8;
  font-weight: 600;
  font-size: 18px;
}

.head_section2_text2{
  color: #a1a1a1;
  padding-top: 5px;
  font-size: 14px;
  max-width: 120px;
}

.head_page_section2{
  border-right: 1px dotted #cecece;
  padding-right: 12px;
}

.head_page{
   gap: 0 !important; 
}

.head_page_section3{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px dotted #cecece;
  padding-right: 30px;
}

.head_page_section5_box{
  display: flex;
  align-items: center;
  gap: 30px;
}

.head_page_section4_heading{
  border-top: 1px solid #d7d7d7;
  padding-top: 6px;
  margin-top: 5px;
}

.head_page_section4_heading ul{
  color: #7c7c7c;
  padding-left: 16px;
  margin-bottom: 0px;
}

.section5-page-head{
  background-color: #fff;
  padding: 15px;
  height: 319px;
}

.head-right-section{
  border: none;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.head_page_button a{
  text-decoration: none;
  color: #fff;
  background: #eb9900;
  display: inline-block;
  padding: 12px 70px;
}
/* header navbar media query */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

@media screen and (max-width: 767px) {
    .header-logo img{
      width: 100%;
    }

    .header{
      flex-direction: column;
      line-height: normal;
    }

    .header .text2{
      text-align: left;
    }

    .section1 .img1{
      background-size: 100% 100%;
      min-height: 30vh;
    }

    .head_section1{
      flex-direction: column;
      text-align: center;
    }

    .head_page_seciton1{
      padding-bottom: 20px;
    }

    .head_page_section5_box{
      flex-wrap: wrap;
    }
    .sponsor-head{
      flex-direction: column;
    }

    .head_page_section3,
    .head_page_section2{
      border: none;
    }

    .head_page_button a{
      padding: 12px 28px;
    }

    .section5-page-head{
      height: 87%;
    }
}